/* reset */
*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* all */
html{
    font-size: 62.5%;
    font-family: Arial, Tahoma, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    background: #e8e8e8;
    color: #333;
}

/* layout */
.header{
    width: 100%;
    max-width: 48rem;
    margin: 3.2rem auto;
    padding: 2rem;
    border-radius: 1.3rem;
}

.brand{
    margin-bottom: 3.2rem;
}

.brand img{
    display: block;
    max-width: 100%;
    height: auto;
}

.titulo{
    margin-bottom: 1.6rem;
}

.formulario-container{
    width: 100%;
    max-width: 48rem;
    margin: 3.2rem auto;
    padding: 2rem;
    border-radius: 1.3rem;
}

.content-checkbox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.content-checkbox label{
    padding-left: .6rem;
}
.content-username,
.content-password,
.content-checkbox{
    margin-bottom: 1.6rem;
}

button{
    padding: 1.2rem 2.4rem;
}

.footer{
    padding: 1.6rem;
}

@media (max-width: 600px){
    body{
        padding: 1rem;
    }
    .header{
        margin: 0 auto;
    }
    .header,
    .formulario-container,
    .footer{
        padding: 1.2rem;
    }
}

/* styles */
body{
    font-size: 1.6rem;
}

.header,
.formulario-container{
    background-color: #fff;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.titulo{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.10;
}

.subtitulo{
    font-size: 2rem;
    font-weight: normal;
}

label,
input{
    color: #333;
}

.content-username label,
.content-password label{
    display: block;
    margin-bottom: .4rem;
}

.username,
.password{
    padding: .6rem;
    width: 100%;
    height: 4.4rem;
    font-size: 1.6rem;
    border: 1px solid #d5d5d5;
    border-radius: .5rem;
}

input.save{
    width: 3.2rem;
    height: 3.2rem;
}

input.save:focus-visible{
    outline-offset: 2px;
    outline: 4px dashed #398439;
    border-radius:  6px;
}

input:focus,
input:focus-visible{
    background-color: #FFD053;
    border: 1px solid #449d44;
}

button{
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #359830;
    border: 1px solid #396F36;
    border-radius: .5rem;
}

button:focus-visible{
    outline-offset: 2px;
    outline: 4px dashed #398439;
    border-radius:  6px;
}

button:hover{
    background-color: #396F36;
    border: 1px solid #359830;
}

.aviso{
    line-height: 1.22;
    margin: 3.2rem 0 1.2rem 0;
}

.texto-footer p{
    text-align: center;
    line-height: 1.6;
}